@import "global.less";



.header {
    
    .navbar {
        background-color: #FFF;
        border: none;
        padding-top: 20px;
        padding-bottom: 10px;
        .container {
            .navbar-header {
                .navbar-brand {
                    img {
                        width: 230px;
                        margin-top: -50px;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    li {
                        a {
                          .standard-text();
                            color: @primary-blue;  
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                    li.active {
                        a {
                            background-color: transparent;
                            font-weight: 900;
                            color: @primary-red !important;
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
