@import "global.less";

#watch-page {
    padding: 20px 30px;
    
    #watch-header {
        position: relative;
        z-index: 3;
        #watch-col {
            img {
                width:100%;
            }
        }
    }
    
    #middle-block {
        background-image: url('../img/watch/city.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        top: 200px;
        margin-bottom: 200px;
        
        #middle-block-col {
            
            #tv-row {
                margin-top:-235px;
                #tv-col {
                    position: relative;
                    
                    #background-tv {
                        z-index: 5;
                        
                        width:75%;
                        position: relative;
                        left: 50%;
                        margin-left: -37.5%;
                    }
                    
                    #callout-video {
                        z-index: 10;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width:55%;
                        margin-top: 15px;
                        object-fit: cover;
                    }
                }
                
                @media screen and (max-width: 350px) {
                    margin-top: -260px;
                }
            }
            
            #callout-row {
                padding-top: 20px;
                padding-bottom: 50px;
                text-align: center;
                display: inline-block;
                
                #callout-col {
                    background-color: rgba(0,0,0,.7);
                    padding: 60px 0px;
                    .standard-text();
                    
                    #callout-title {
                        text-transform: uppercase;
                        color:#FFF;
                        font-size: 44px;
                        font-weight: 900;
                        margin-bottom: 0px;
                    }
                    #callout-subtitle {
                        text-transform: uppercase;
                        color: @primary-yellow;
                        font-size: 22px;
                    }
                    #callout-description {
                        text-transform: uppercase;
                        font-size: 14px;
                        color:#FFF;
                        padding-right: 15px;
                        padding-left: 15px;
                    }
                    
                    @media screen and (max-width: 992px) {
                        padding: 40px 0px;   
                    }
                    @media screen and (max-width: 768px) {
                        padding: 20px 0px;
                        #callout-title {
                            font-size: 35px;
                            margin-top: 0px;
                        }
                        #callout-subtitle {
                            font-size: 18px;
                            margin-bottom: 5px;
                        }
                        #callout-description {
                            font-size: 12px;
                        }
                    }
                    
                    @media screen and (max-width: 500px) {
                        padding: 10px 0px;
                        #callout-title {
                            font-size: 25px;
                            margin-top: 0px;
                        }
                        #callout-subtitle {
                            margin-top: 5px;
                            font-size: 14px;
                        }
                        #callout-description {
                            font-size: 11px;
                        }
                    }
                }
            }
            
        }
        
        @media screen and (max-width: 350px) {
            top: 250px;   
        }
        
    }
    
    #video-block {
        background-color:#d9ad45;
        padding-bottom: 20px;
        
        #video-col {
            
            #video-nav-bar {
                background-color: #FFF;
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                padding-bottom: 30px;
                .nav-link {
                    text-align: center;
                    display: inline-block;
                    .standard-text();
                    font-size: 20px;
                    cursor: pointer;    
                    padding-top: 20px;
                    
                    a {
                        color:#333;
                        text-align: center;
                        display: inline-block;
                    }
                }
                .nav-link.active {
                    font-weight: 900;
                    a {
                        text-decoration: none;
                    }
                }
                
                @media screen and (max-width: 992px) {
                    .nav-link:first-child {
                        margin-left: 35px;
                    }   
                    .nav-link:last-child {
                        margin-right: 10px;
                    }
                    .nav-link {
                        font-size: 16px;
                    }
                }
                
                @media screen and (max-width: 768px) {
                    text-align: center;
                    .nav-link:first-child {
                        margin-left: 0px;
                    }   
                    .nav-link:last-child {
                        margin-right: 0px;
                    }
                    .nav-link:nth-child(2) {
                        margin-right: 20px;
                    }
                    .nav-link {
                        width: calc(100% / 6);  
                        display: inline-block;
                        vertical-align: top;   
                        text-align:center;    
                    }
                }
            }
            
            #video-preview-row {
                background-color: #FFF;
                margin-left: 20px;
                margin-right: 20px;
                .video-preview-col {
                    display: none;
                    
                    .preview-row {
                        padding-bottom: 15px;
                        .preview-col {
                            
                            video {
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                        
                        .preview-col:first-child {
                            margin-right: 30px;
                            margin-left: 5.5%;
                        }
                        .preview-col:last-child {
                            margin-left: 30px;
                        }
                    }
                }
                 .video-preview-col.active {
                        display: inherit;
                    }
            }
        }
    }
}