<header></header>
<div id="watch-page" class="container">
    
    <div id="watch-header" class="col">
        <div id="watch-col" class="col-md-12 col-sm-12 col-xs-12">
            <img src="img/watch/watch.png"/>
        </div>
    </div>
   
    <div class="row" id="middle-block">
        <div class="col-md-12 col-sm-12 col-xs-12" id="middle-block-col">
        
            <div class="row" id="tv-row">
                <div class="col-md-12 col-sm-12 col-xs-12" id="tv-col">
                    <img src="img/watch/tv.png" id="background-tv"/>
                    
                    <video onclick="this.play();" poster="img\watch\usedStills\alive1.png" id="callout-video">

                        <source src="video/demo.mp4" type="video/mp4">

                    </video>
                    
                </div>
            </div>
            
            <div class="row" id="callout-row">
                <div class="col-md-8 col-md-offset-4" id="callout-col">
                    <p id="callout-title">SAY</p>
                    <p id="callout-subtitle">ALIVE CITY</p>
                    <p id="callout-description">Words, lots of words here about the awesome video above that you should check out, because it's amazing.</p>
                </div>
            </div>
            
            
        </div>
    </div>
    <div id="video-block" class="row">
        <div id="video-col" class="col-md-12 col-sm-12 col-xs-12">
        
            <div id="video-nav-bar" class="row">
                <div class="col-md-2 col-md-offset-1 nav-link {{all}}">
                    <a ng-click="setpreview('all');">ALL</a>
                </div>
                <div class="col-md-2 nav-link {{mv}}">
                    <a ng-click="setpreview('mv');">MUSIC-VIDEOS</a>
                </div>
                <div class="col-md-2 nav-link {{coms}}">
                    <a ng-click="setpreview('coms');">COMMERIALS</a>
                </div>
                <div class="col-md-2 nav-link {{promos}}">
                    <a ng-click="setpreview('promos');">PROMOS</a>
                </div>
                <div class="col-md-2 nav-link {{shorts}}">
                    <a ng-click="setpreview('shorts');">SHORTS</a>
                </div>
            </div>
            
            <div class="row" id="video-preview-row">
                
                <!--ALL VIDEO SECTION-->
                <div class="video-preview-col {{all}}" id="all-preview">
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\eventhey.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\psalm13.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\say.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\sitting.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\chair.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\water.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\love.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\acgm.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\lgw.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\coexist.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                    
                </div>
                
                
                
                
                
                
                
                <!--Music-Video SECTION-->
                <div class="video-preview-col {{mv}}" id="all-preview">
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\chair.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\water.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\say.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\sitting.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                      
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\lgw.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\coexist.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                    
                </div>
                
                
                
                
                <!--COMMERIALS SECTION-->
                <div class="video-preview-col {{coms}}" id="all-preview">
                    
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\say.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\sitting.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                      
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\lgw.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                         <div class="preview-col col-md-5">
                             
                        </div>
                        
                    </div>
                    
                </div>
                
                
                
                <!--PROMOS SECTION-->
                <div class="video-preview-col {{promos}}" id="all-preview">
                    
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\say.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            <video onclick="this.play();" poster="img\watch\usedStills\sitting.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                    </div>
                      
                    
                </div>
                
                
                
                
                
                <!--SHORTS SECTION-->
                <div class="video-preview-col {{shorts}}" id="all-preview">
                    
                    
                    <div class="preview-row row">
                        
                        <div class="preview-col col-md-5 col-md-offset-1">
                            <video onclick="this.play();" poster="img\watch\usedStills\say.png" class="preview-video">
                                <source src="video/demo.mp4" type="video/mp4">
                            </video>
                        </div>
                        
                        <div class="preview-col col-md-5">
                            
                        </div>
                        
                    </div>
                      
                    
                </div>
                
                
            </div>
        </div>
    </div>
    <footer></footer>
</div>


